# Configuration File for SCCSV (CSV_GEN rewrite 2)

[Settings]
# Hostname or IP Address of the Security Center server and the 
# port that you will be connecting to.
address = securitycenter.home.lan
port = 443

# Username and password fo the account you will be running the
# queries with.
username = api_user
password = s3cr3tp@ssw0rd

# Do we want to have any debugging output?  Set to no
# if you want to have silent output.
debug = yes

# SMTP Server that we will be connecting to.
smtp_host = localhost

# Email Address that reports will be mailed from.
email_from = sc4@chigeek.com

# Global Subject heading.  This can be overriden in the individual
# CSVFILE sections with an option of the same name.
email_subject = CSV Report

# Global email body.  This can be overriden in the individual
# CSVFILE sections with an option of the same name.
email_msg = CSV Report Generated


# Individual sections for different CSV Files can be created by prepending
# 'CSVFILE: ' to the name of the report you wish to create.  In this example
# we will be creating test1.csv.
[CSVFILE: test1]

# First thing, do we want to generate and send an email with the CSV file
# attached?  If we do then say yes, otherwise leave to no.  If an email is
# sent then the csv file will also be deleted once the completed.
gen_email = no

# These are the email addresses that the finished report will be emailed to.
# There can be multiple email addresses here if you comma (,) seperate them.
email_to = smcgrath@tenable.com